<div class="content">

    <div class="row">

      <div class="col-sm-12">
    
        <div class="card">
          <div class="card-header header-elements-sm-inline py-sm-0">
            <h5 class="card-title">รายงานการจัดซื้อน้ำมันรายเดือน B4</h5>
            <div class="header-elements">
                <div class="input-group" style="margin-top: 5px;">
                    <div class="input-group-append position-static">
                        <button type="button" class="btn btn-light"><span *ngIf="select_year != 0">{{ select_year }}</span><span *ngIf="select_year == 0">เลือกปี</span></button>
                        <button type="button" class="btn btn-light dropdown-toggle btn-icon" data-toggle="dropdown" aria-expanded="false"></button>
  
                        <div class="dropdown-menu dropdown-menu-right">
                            <a (click)="searchByYear(i)" href="javascript:void(0)" class="dropdown-item" *ngFor="let i of years">{{ i }}</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        
          <div class="card-body">
          </div>
        
          <div  class="dataTables_wrapper no-footer">
            <div class="datatable-scroll-wrap" [ngStyle]="{'height': table_height + 'px'}">
              <table class="table small table-bordered table-striped  datatable-scroll-y datatable-scroll-normal">
                <thead>
                    <tr>
                        <th  rowspan="2">เดือน</th>
                        <th class="text-center" rowspan="2">Plan Throughput</th>
                        <th class="text-center" rowspan="2">Plan Throughput Accu</th>
                        <th class="text-center" rowspan="2">Actual Throughput</th>
                        <th class="text-center" rowspan="2">Actual Throughput Accu</th>
                        <th class="text-center" rowspan="2">Actual Throughput I+C+Gate</th>
                        <th class="text-center" rowspan="2">Actual Throughput Accu I+C+Gate</th>
                        <th class="text-center" rowspan="2">Plan All Activity</th>
                        <th class="text-center" rowspan="2">All Activity (Teu)</th>
                        <th class="text-center" rowspan="2">Plan Use(Ltrs)</th>
                        <th class="text-center" rowspan="2">Actual Used(Ltrs)<br>(Tank B4)</th>
                        <th class="text-center" colspan="2">Actual Used(Ltrs)<br>(Tank CD1)</th>
                        <th class="text-center" rowspan="2">Total Actual Used(Ltrs)</th>
                        <th class="text-center" rowspan="2">Actual Purchased</th>
                        <th class="text-center" rowspan="2">Actual Lits/Teus</th>
                    </tr>
                    <tr>
                      <th>T04</th>
                      <th>T06</th>
                    </tr>
                </thead>
                <tbody *ngIf="plan_data.length > 0">
                  <tr class="month-list" *ngFor="let item of plan_data; let i = index">
                    <td>{{ item.monthText }}</td>
                    <td class="text-right">{{ item.planThroughput }}</td>
                    <td class="text-right">{{ item.planThroughputAccu }}</td>
                    <td class="text-right">{{ item.actualThroughput }}</td>
                    <td class="text-right">{{ item.actualThroughputAccu }}</td>
                    <td class="text-right">{{ item.actualThroughputAll }}</td>
                    <td class="text-right">{{ item.actualThroughputAllAccu }}</td>
                    <td class="text-right">{{ item.planAllActivity }}</td>
                    <td class="text-right">{{ item.allActivity }}</td>
                    <td class="text-right">{{ item.planUserPerLiterF }}</td>
                    <td class="text-right">{{ item.actualUsedLitersB4F }}</td>
                    <td class="text-right">{{ item.actualUsedLitersCD1_T04F }}</td>
                    <td class="text-right">{{ item.actualUsedLitersCD1_T06F }}</td>
                    <td class="text-right">{{ item.actualUsedAllLitersF }}</td>
                    <td class="text-right">{{ item.actualPurchasedF }}</td>
                    <td class="text-right">{{ item.actualLiterPerTueusF }}</td>
                </tr>
                </tbody>
                <tbody *ngIf="plan_data.length == 0">
                  <tr>
                    <td colspan="16">
                      <span *ngIf="loading">
                        <i class="icon-spinner4 spinner" ></i>&nbsp;กำลังโหลดข้อมูล...
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
    
  </div>
  