<div class="content">

  <div class="row">

    <div class="col-sm-12">
  
      <div class="card">
        <div class="card-header header-elements-sm-inline py-sm-0">
          <h5 class="card-title">Throughput Plan CD1</h5>
          <div class="header-elements">
              <div class="input-group" style="margin-top: 5px;">
                  <div class="input-group-append position-static">
                      <button type="button" class="btn btn-light"><span *ngIf="select_year != ''">{{ select_year }}</span><span *ngIf="select_year == ''">เลือกปี</span></button>
                      <button type="button" class="btn btn-light dropdown-toggle btn-icon" data-toggle="dropdown" aria-expanded="false"></button>

                      <div class="dropdown-menu dropdown-menu-right">
                          <a (click)="searchByYear(i)" href="javascript:void(0)" class="dropdown-item" *ngFor="let i of years">{{ i }}</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      
        <div class="card-body">
        </div>
      
        <div  class="dataTables_wrapper no-footer">
          <div class="datatable-scroll-wrap" [ngStyle]="{'height': table_height + 'px'}">
            <table class="table small table-bordered table-striped  datatable-scroll-y datatable-scroll-normal">
              <thead>
                <tr role="row">
                  <th>เดือน</th>
                  <th>Plan CD1 Throughput</th>
                  <th>Plan CD1 Use Liter</th>
                  <th>Plan WH Throughput</th>
                  <th>Plan WH Use Liter</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="plan_data.length > 0">
                <tr *ngFor="let item of plan_data; let i = index">
                  <td>{{ item.monthName }}</td>
                  <td>
                    <div class="form-group form-group-feedback form-group-feedback-right"  style="margin-bottom: 0;">
                      <input type="number" class="form-control box-gray" [(ngModel)]="item.planTroughput" [disabled]="item.saving" />
                      <div class="form-control-feedback">
                        <i *ngIf="item.saving" class="icon-spinner2 spinner"></i>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group form-group-feedback form-group-feedback-right"  style="margin-bottom: 0;"> 
                      <input type="number" class="form-control box-gray" [(ngModel)]="item.planUseLiter" [disabled]="item.saving" />
                      <div class="form-control-feedback">
                        <i *ngIf="item.saving" class="icon-spinner2 spinner"></i>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group form-group-feedback form-group-feedback-right" style="margin-bottom: 0;">
                      <input type="number" class="form-control box-gray" [(ngModel)]="item.planWHTroughput" [disabled]="item.saving" />
                      <div class="form-control-feedback">
                        <i *ngIf="item.saving" class="icon-spinner2 spinner"></i>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group form-group-feedback form-group-feedback-right" style="margin-bottom: 0;">
                      <input type="number" class="form-control box-gray" [(ngModel)]="item.planWHUseLiter" [disabled]="item.saving" />
                      <div class="form-control-feedback">
                        <i *ngIf="item.saving" class="icon-spinner2 spinner"></i>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn-retro-green" (click)="updatePlan(item)">UPDATE</button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="plan_data.length == 0">
                <tr>
                  <td colspan="7">
                    <span *ngIf="loading">
                      <i class="icon-spinner4 spinner" ></i>&nbsp;กำลังโหลดข้อมูล...
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</div>
