<body>

  <!-- Main navbar -->
  <div class="navbar navbar-expand-lg navbar-dark bg-indigo navbar-static">
      <div class="d-flex flex-1 d-lg-none">
          <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
              <i class="icon-paragraph-justify3"></i>
          </button>
      </div>

      <div class="navbar-brand text-center text-lg-left">
          <a href="https://intranet.tips.co.th/" class="d-inline-block">
              <img src="https://intranet.tips.co.th/UI/Limitless/Template/global_assets/images/logo_light_tips_yellow.png" class="d-none d-sm-block" alt="">
              <img src="https://intranet.tips.co.th/UI/Limitless/Template/global_assets/images/logo_light_tips_yellow.png" class="d-sm-none" alt="">
          </a>
      </div>
      <div class="navbar-collapse collapse flex-lg-1 mx-lg-3 order-2 order-lg-1" id="navbar-search">

      </div>

      <div class="d-flex justify-content-end align-items-center flex-1 flex-lg-0 order-1 order-lg-2">
          <ul class="navbar-nav flex-row">
              <li class="nav-item nav-item-dropdown-lg dropdown">
                  <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-lg-350">
                      <div class="dropdown-content-body p-2">
                          <div class="row no-gutters">
                              <div class="col-4">
                                  <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                      <i class="icon-github4 icon-2x"></i>
                                      <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Github</div>
                                  </a>

                                  <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                      <i class="icon-dropbox text-primary icon-2x"></i>
                                      <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Dropbox</div>
                                  </a>
                              </div>

                              <div class="col-4">
                                  <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                      <i class="icon-dribbble3 text-pink icon-2x"></i>
                                      <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Dribbble</div>
                                  </a>

                                  <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                      <i class="icon-google-drive text-success icon-2x"></i>
                                      <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Drive</div>
                                  </a>
                              </div>

                              <div class="col-4">
                                  <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                      <i class="icon-twitter text-info icon-2x"></i>
                                      <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Twitter</div>
                                  </a>

                                  <a href="#" class="d-block text-body text-center ripple-dark rounded p-3">
                                      <i class="icon-youtube text-danger icon-2x"></i>
                                      <div class="font-size-sm font-weight-semibold text-uppercase mt-2">Youtube</div>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </li>

              <button type="button" class="navbar-toggler sidebar-mobile-right-toggle p-0">
                <div class="profile-top-right">
                    <img src="https://intranet.tips.co.th/HRMSystem/Files/Profile/10/610702002.jpg" class="img-fluid shadow-sm" width="50" alt="">
                </div>
            </button>
            <li class="nav-item d-none d-lg-block">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-right-toggle p-0">
                    <div class="profile-top-right">
                    <img src="https://intranet.tips.co.th/HRMSystem/Files/Profile/10/610702002.jpg" class="img-fluid shadow-sm" width="50"  alt=""> 
                    </div>
                    <span style="position: relative; top: -16px;">{{ user.name }}</span>
                </a>
            </li>
          </ul>
      </div>
  </div>
  <!-- /main navbar -->
  <!-- Page content -->
  <div class="page-content">

      <!-- Main sidebar -->
      <div class="sidebar sidebar-light sidebar-main sidebar-expand-lg">

          <!-- Sidebar content -->
          <div class="sidebar-content">

              <!-- User menu -->
              <div class="sidebar-section">
                  <div class="sidebar-user-material">
                      <div class="sidebar-section-body">
                          <div class="d-flex">
                              <div class="flex-1">

                              </div>
                              <a href="#" class="flex-1 text-center"><img src="https://intranet.tips.co.th/UI/Limitless/Template/global_assets/images/ProjectName.png" class="img-fluid rounded-circle shadow-sm" width="80" height="80" alt=""></a>
                              <div class="flex-1 text-right">
                                  <button type="button" class="btn btn-outline-light border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                                      <i class="icon-transmission"></i>
                                  </button>

                                  <button type="button" class="btn btn-outline-light border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-main-toggle d-lg-none">
                                      <i class="icon-cross2"></i>
                                  </button>
                              </div>
                          </div>

                          <div class="text-center">
                              <h6 class="mb-0 text-white text-shadow-dark mt-3">Fuel Consumtion</h6>
                              <span class="font-size-sm text-white text-shadow-dark">รายงานการใช้น้ำมัน</span>
                          </div>
                      </div>

                  </div>

                  <div class="collapse border-bottom" id="user-nav">
                  </div>
              </div>
              <!-- /user menu -->
              <!-- Main navigation -->
              <div class="sidebar-section">
                  <ul class="nav nav-sidebar" data-nav-type="accordion">

                      <!-- Main -->
                      <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs mt-1">Throughput</div> <i class="icon-menu" title="Main"></i></li>
                      <li class="nav-item nav-item-submenu">
                          <a href="#" class="nav-link"><i class="icon-copy"></i> <span>Throughput System</span></a>

                          <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                              <li class="nav-item" routerLink="fuel/throughputplanb4"><a  class="nav-link">ระบบวางเพลน B4</a></li>
                              <li class="nav-item" routerLink="fuel/throughputrecordb4"><a  class="nav-link">ระบบบันทึกตู้ B4</a></li>
                              <li class="nav-item" routerLink="fuel/throughputplancd1"><a  class="nav-link">ระบบวางเพลน CD1</a></li>
                              <li class="nav-item" routerLink="fuel/throughputrecordcd1"><a  class="nav-link">ระบบบันทึกตู้ CD1</a></li>
                          </ul>
                      </li>
                      <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs mt-1">Report</div> <i class="icon-menu" title="Main"></i></li>
                      <li class="nav-item nav-item-submenu">
                          <a href="#" class="nav-link"><i class="icon-color-sampler"></i> <span>การใช้น้ำมัน</span></a>

                          <ul class="nav nav-group-sub" data-submenu-title="Themes">
                            <!-- <li class="nav-item" routerLink="fuel/fuelyearly"><a class="nav-link">น้ำมันรายปี</a></li>
                            <li class="nav-item" routerLink="fuel/fuelbudgetpermonth"><a class="nav-link">การใช้น้ำมันเปรียบเทียบงบประมาณ (ต่อเดือน)</a></li>
                            <li class="nav-item" routerLink="fuel/fuelpubliccar"><a class="nav-link">การใช้รถส่วนกลาง</a></li>
                            <li class="nav-item" routerLink="fuel/fuelsparatebyplant"><a class="nav-link">น้ำมันแยกตาม Plant</a></li> -->
                            <li class="nav-item" routerLink="fuel/fuelb4purchase"><a class="nav-link">การจัดซื้อน้ำมันรายเดือน B4</a></li>
                            <li class="nav-item" routerLink="fuel/fuelcd1purchase"><a class="nav-link">การจัดซื้อน้ำมันรายเดือน CD1</a></li>
                          </ul>
                      </li>
                      <!-- /page kits -->

                  </ul>
              </div>
              <!-- /main navigation -->

          </div>
          <!-- /sidebar content -->

      </div>
      <!-- /main sidebar -->
      <!-- Main content -->
      <div class="content-wrapper">

          <!-- Inner content -->
          <div class="content-inner">


              <!-- Content area -->
              <div class="content">
                <router-outlet></router-outlet>
              </div>
              <!-- /content area -->

          </div>
          <!-- /inner content -->

      </div>
      <!-- /main content -->
      <!-- Right sidebar -->
      <div class="sidebar sidebar-light sidebar-right sidebar-expand-lg sidebar-collapsed">

          <!-- Sidebar content -->
          <div class="sidebar-content">
              <div class="sidebar-section">
                  <div class="sidebar-user-material-right" style="background-image: url('https://intranet.tips.co.th/UI/Limitless/Template/global_assets/images/backgrounds/TIPS_B1.jpg'); background-size: cover;">
                      <div class="sidebar-section-body">
                          <div class="d-flex">
                              <div class="flex-1">

                              </div>
                              <div class="profile-side-right">
                                <img src="https://intranet.tips.co.th/HRMSystem/Files/Profile/10/610702002.jpg" class="img-fluid shadow-sm" width="90" alt="">
                            </div>                              <div class="flex-1 text-right">
                                  <button type="button" class="btn btn-outline-dark border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-right-toggle d-none d-xl-inline-block text-white bg-dark">
                                      <i class="icon-cross2"></i>
                                  </button>

                                  <button type="button" class="btn btn-outline-dark border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-right-toggle d-xl-none text-white bg-dark">
                                      <i class="icon-cross2"></i>
                                  </button>
                              </div>
                          </div>

                          <div class="text-center">
                              <h6 class="mb-0 text-white text-shadow-dark mt-3">Mr.Firstname Lastname </h6>
                              <span class="font-size-sm text-white text-shadow-dark">Position Name/Department Name</span>
                          </div>
                      </div>

                  </div>

                  <div class="collapse border-bottom" id="user-nav">

                  </div>
              </div>
              <div class="sidebar-section">
                  <div class="collapse show" id="sidebar-navigation">
                      <ul class="nav nav-sidebar my-2" data-nav-type="accordion">
                          <li class="nav-item">
                              <a (click)="logOut()" class="nav-link"><i class="icon-switch2"></i> Logout</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div id="other_program" class="sidebar-section">
              </div>
          </div>
          <!-- /sidebar content -->

      </div>
      <!-- /right sidebar -->

  </div>
  <!-- /page content -->
</body>