<div class="content">

    <div class="row">

      <div class="col-sm-12">
    
        <div class="card">
          <div class="card-header header-elements-sm-inline py-sm-0">
            <h5 class="card-title">รายงานการจัดซื้อน้ำมันรายเดือน CD1</h5>
            <div class="header-elements">
                <div class="input-group" style="margin-top: 5px;">
                    <div class="input-group-append position-static">
                        <button type="button" class="btn btn-light"><span *ngIf="select_year != 0">{{ select_year }}</span><span *ngIf="select_year == 0">เลือกปี</span></button>
                        <button type="button" class="btn btn-light dropdown-toggle btn-icon" data-toggle="dropdown" aria-expanded="false"></button>
  
                        <div class="dropdown-menu dropdown-menu-right">
                            <a (click)="searchByYear(i)" href="javascript:void(0)" class="dropdown-item" *ngFor="let i of years">{{ i }}</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        
          <div class="card-body">
          </div>
        
          <div  class="dataTables_wrapper no-footer">
            <div class="datatable-scroll-wrap" [ngStyle]="{'height': table_height + 'px'}">
              <table class="table small table-bordered table-striped  datatable-scroll-y datatable-scroll-normal">
                <thead>
                    <tr>
                        <th>เดือน</th>
                        <th class="text-center">Plan Throughput (CD1)</th>
                        <th class="text-center">Plan Throughput Accu (CD1)</th>
                        <th class="text-center">Actual Throughput (CD1)</th>
                        <th class="text-center">Actual Throughput Accu (CD1)</th>
                        <th class="text-center">Plan Throughput Accu (WH)</th>
                        <th class="text-center">Actual Throughput (WH)</th>
                        <th class="text-center">Actual Throughput Accu (WH)</th>
                        <th class="text-center">Plan Use(Ltrs)<br />(CD+WH)</th>
                        <th class="text-center" colspan="2">Actual Used(Ltrs)<br />(CD+WH)</th>
                        <th class="text-center" colspan="2">Actual Used (B4)</th>
                        <th class="text-center" colspan="2">Total Actual Used</th>
                        <th class="text-center" colspan="2">Actual Purchased</th>
                        <th class="text-center">Actual Lits/Teus</th>
                    </tr>
                </thead>
                <tbody *ngIf="plan_data.length > 0">
                  <tr class="month-list" *ngFor="let item of plan_data; let i = index">
                    <td>{{ item.monthText }}</td>
                    <td class="text-right">{ item.planThroughput }}</td>
                    <td class="text-right">{ item.planThroughputAccu }}</td>
                    <td class="text-right">{ item.actualThroughput }}</td>
                    <td class="text-right">{ item.actualThroughputAccu }}</td>
                    <td class="text-right">{ item.planWHThroughput }}</td>
                    <td class="text-right">{ item.actualWHThroughput }}</td>
                    <td class="text-right">{ item.actualWHThroughputAccu }}</td>
                    <td class="text-right">{ item.planUseAllLiters }}</td>
                    <td class="text-right">{ item.actualUsedLitersCD1_T04 }}</td>
                    <td class="text-right">{ item.actualUsedLitersCD1_T06 }}</td>
                    <td class="text-right">{ item.actualUsedLitersB4_T04 }}</td>
                    <td class="text-right">{ item.actualUsedLitersB4_T06 }}</td>
                    <td class="text-right">{ item.actualUsedAllLiters_T04 }}</td>
                    <td class="text-right">{ item.actualUsedAllLiters_T06 }}</td>
                    <td class="text-right">{ item.actualPurchased_T04 }}</td>
                    <td class="text-right">{ item.actualPurchased_T06 }}</td>
                    <td class="text-right">{ item.actualLiterPerTueus }}</td>
                </tr>
                </tbody>
                <tbody *ngIf="plan_data.length == 0">
                  <tr>
                    <td colspan="16">
                      <span *ngIf="loading">
                        <i class="icon-spinner4 spinner" ></i>&nbsp;กำลังโหลดข้อมูล...
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
    
  </div>
  