/* You can add global styles to this file, and also import other style files */
html{
    //font-size: 1rem;
}
body{
  margin: unset !important;
}

.sign-profile{
  cursor: pointer;
  border: 2px solid #131b46;
  border-radius: 50px;
}

.sign-profile>div{
  background-color: #293578;
  color: #ffffff;
}


.p-inputtext {
    font-size: 1rem !important;
    border-radius: 2px !important;
    padding: 0.05rem 0.35rem !important;
}

.p-button {
  font-size: 0.9rem !important;
}

.pi {
  font-size: 0.8rem !important;
}

p-menubar>div{
border-bottom: 1px solid #e1e1e1  !important; border-radius: 0 !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2c3b41;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .p-panelmenu{
    width: 100% !important;
  }

  .p-panelmenu .p-panelmenu-header > a{
    background: #1e282c !important;
    color:#ffffff !important;
  } 

  .p-panelmenu .p-panelmenu-content{
    background-color: #2c3b41 !important;
    color:#8aa4af !important;
  }

  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text{
    color:#8aa4af !important;
  }

  .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon{
    color:#8aa4af !important;
  }

  .p-panelmenu .p-panelmenu-header.p-highlight > a{
    border-color: #192124 !important;
  }

  .p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover{
    border-color: #192124 !important;
  }

  .p-panelmenu .p-panelmenu-header > a {
    padding: 0.5rem 1rem !important;
    border-color: #192124 !important;
  }

  .p-panelmenu .p-panelmenu-content{
    border:unset !important;
  }

  .p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header > a {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  .p-panelmenu .p-panelmenu-panel:last-child .p-panelmenu-header > a {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  


  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  *:focus {
    outline: none !important;
  }

  .form-control {

    height: calc(1.5715em + 2px);
    padding: 0.8rem 0.5rem;
    border-radius: 0.15rem;
}

.form-group-feedback-right .form-control {
  padding-right: 2rem;
}

.col-form-label {
  padding-top: calc(0.15rem);
  padding-bottom: calc(0.15rem);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5715;
}

.sidebar-light .nav-sidebar .nav-link {
  cursor: pointer;
}

@media screen and (min-width: 992px){
  .line-focus .form-group.row>.col-form-label {
      background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPjxjaXJjbGUgY3g9JzEnIGN5PSc0JyByPScxJyBmaWxsPScjZDBkM2Q3JyAvPjwvc3ZnPg==);
      background-repeat: repeat-x;
      background-position: left 7pt;
  }
}