<div class="content">

    <div class="row">

      <div class="col-sm-12">
    
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">ระบบบันทึกตู้ B4</h5>
          </div>
        
          <div class="card-body">
          </div>
        
          <div  class="dataTables_wrapper no-footer">
            <div class="datatable-scroll-wrap" [ngStyle]="{'height': table_height + 'px'}">
              <table class="table small table-bordered table-striped  datatable-scroll-y datatable-scroll-normal">
                <thead>
                  <tr role="row">
                    <th >เดือน</th>
                    <th>Coastal</th>
                    <th>Inter</th>
                    <th>B4ToCD</th>
                    <th>TEUS Run</th>
                    <th>Gate IN Out</th>
                    <th>CFS</th>
                    <th>Reefer (Box)</th>
                    <th>Reefer (Teu)</th>
                    <th>All Activity <br> (Teu)</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="container_data.length > 0">
                  <tr *ngFor="let item of container_data; let i = index">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
                <tbody *ngIf="container_data.length == 0">
                  <tr>
                    <td colspan="7">
                      <span *ngIf="loading">
                        <i class="icon-spinner4 spinner" ></i>&nbsp;กำลังโหลดข้อมูล...
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
    
  </div>
  